/* ngang hàng và cùng thuộc 1 trang chọn thành phần đứng sau 
  - tất cả thành phần đứng sau
  - chỉ 1 thành phần đứng sau liền kề
  - dấu phẩy dùng để kêt hợp 
*/
/* .box p ~ h2 {
  color: red;
}
.box p ~ div h2 {
  color: green;
  
} */
.box h2 + h2,
.box p + h2 {
  color: green;
}
