/* ul li a[target] {
  color: red;
}
- $= chọn giá trị kết thúc có cùng value
- ~=[value] chọn giá trị có giá trị là 1 từ
- lưu ý : class và id đều có thể áp dụng như atribu
*/

/* ul li a[href^= "https://fullstack.edu.vn"]
{
  color: red;
} */
/* ul li a[href$=".vn"] {
  color: red;
} */
/* ul li a[title*="abc"] {
  color: red;
} */
.row [class^="col-"] {
  color: green;
}
* {
  color: green;
}
