/* 
selector :: name{
}
before
after
first- letter
first- line
placeholder
*/
/* h1::before {
  content: "";
}
h1::after {
  content: "";
}
p::first-letter {
  color: red;
} */
/* p::first-line {
  color: red;
}
p::selection {
  background: black;
  color: white;
} */
input::placeholder {
  color: red;
}
input {
  color: red;
}
