* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
}
.box a {
  text-decoration: none;
  color: gray;
  border: 1px solid transparent;
  background-color: rgb(223, 219, 219);
  border-radius: 45px;
  padding: 5px;
  cursor: pointer;
  transition: 1s linear;
  transition-property: background-color;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container .inner-image {
  width: 500px;
  position: relative;
}
.container .inner-image img {
  width: 400px;
  height: auto;
}
.container .inner-image .inner-image-sub img {
  background-size: cover;
  position: absolute;
  width: 250px;
  height: 450px;
  top: 100px;
  left: -150px;
}
.container .inner-image .inner-image-sub .inner-blue {
  position: absolute;
  top: 110px;
  left: -140px;
  background-color: rgb(84, 84, 219);
  color: white;
  width: 230px;
  height: 430px;
  z-index: 9;
}
.container .inner-image .inner-image-sub .inner-blue p {
  color: white;
  position: absolute;
  bottom: 40px;
  right: 20px;
  text-align: right;
}
.container .inner-image .inner-image-sub .inner-blue span {
  font-size: 80px;
  font-weight: 600;
  opacity: 0.6;
}
.container .inner-wrap {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.container .inner-wrap .inner-content table td a:hover {
  background-color: rgba(159, 159, 33, 0.836);
  color: white;
}

.container .inner-wrap .inner-content i {
  border-radius: 50%;
  background-color: rgb(223, 219, 219);
  padding: 5px;
}
.container .inner-wrap .inner-content h2 {
  font-family: "Space Grotesk", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container .inner-wrap .inner-content table td {
  vertical-align: top;
}
.container .inner-wrap .inner-content table td:nth-child(1) {
  width: 330px;
  height: 150px;
  margin-right: 100%;
  text-align: right;
  transition: transform 0.5s linear;
}
.container .inner-wrap .inner-content table tr:hover td:nth-child(1) {
  transform: translateX(310px);
}
.container .inner-wrap .inner-content table td:nth-child(1) p {
  margin-bottom: 20px;
}
.container .inner-wrap .inner-content table tr td:nth-child(2) {
  display: block;
  /* text-align: center; */
  position: relative;
}
.container .inner-wrap .inner-content table td:nth-child(2) i {
  /* margin-right: 20px; */
  margin-top: 10px;
  margin-left: 10px;
}

.container .inner-wrap .inner-content table tr:hover td:nth-child(3) .year {
  transform: translateX(-130px);
}
.container .inner-wrap .inner-content table tr td:nth-child(3) .year {
  margin-top: 15px;
  margin-left: 10px;
  transition: transform 0.5s linear;
}

.container .inner-wrap .inner-content table tr td span {
  margin-top: 20px;
}
.container .inner-wrap .inner-content table td .inner-border:nth-child(2) {
  display: block;
  position: absolute;
  border-right: 2px solid #f0f2f5;
  height: 90px;
  top: 30px;
  left: 20px;
}
