:root {
  --color-one: #ff8484;
  --color-two: #f7d9c4;
  --color-bg: #dce8eb;
  --color-text: #232323;
  --text-one: #777777;
  --bg-one: #f0f2f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
