.skeleton {
    position: relative;
    width: 400px;
    height: 250px;
    background: #e6e6e7;
    margin: 30px auto;
    overflow: hidden;
}

.skeleton::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(230, 230, 231);
    background: linear-gradient(120deg, transparent, transparent 40%, rgba(255, 255, 255, 0.157) 50%, transparent 60%, transparent 100%);
    translate: -100%;
    animation-name: skeleton;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes skeleton {
    50% {
        translate: 100%;
    }

}