@import "reset";
@import "variable";
@import "base";


/* header*/
.header {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    // padding: 3rem;

    .inner-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 2rem;

        .inner-social {
            a {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                border: 1px solid rgb(191, 189, 189);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0 3px;
                color: rgb(160, 158, 158);

                &:hover {
                    color: #fff;
                    background-color: $colorBgTwo;
                }

                i {
                    font-size: 2.6rem;
                }
            }
        }

        .inner-logo {
            text-align: center;

            h3 {
                color: #000;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            p {
                color: $textTwo;
            }

        }

        .inner-search {
            border: 1px solid $colorBgTwo;
            border-radius: 45px;
            display: flex;
            overflow: hidden;

            input {
                width: 70%;
                padding: 15px;
            }

            button {
                width: 30%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: $colorBgTwo;
                padding: 15px;
            }
        }
    }

    /*menu*/
    .inner-menu {
        background-color: $colorBg;


        ol {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;


            li {
                padding: 2rem;


                a {
                    color: #fff;
                    padding: 2rem;
                    font-size: 1.6rem;
                    transition-property: color;
                    transition: 0.5s ease-in-out;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: $colorBgTwo;
                        bottom: 1.5rem;
                        transition-property: width;
                        transition: 0.5s ease-in-out;

                    }

                    &:hover {
                        color: $colorBgTwo;
                    }

                    &:hover::before {
                        width: 85%;
                    }
                }

                a.active {
                    color: $colorBgTwo;

                }
            }
        }
    }

    /*end menmu*/
}


/*end header*/
/*section one*/
.section-one {
    height: 100vh;
    overflow: hidden;


    .bg-image {
        img {
            width: 100%;
            height: 90%;
        }
    }

    .container {
        .inner-wrap {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00000077;
            z-index: 10;
            text-align: center;
            color: #fff;

            .inner-head {
                margin-top: 30rem;
                display: inline-block;
                border-radius: 4.5rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                font-size: 2rem;
                padding: 1.5rem 3rem;
                margin-bottom: 2rem;

                span {
                    font-weight: 600;
                }
            }

            .inner-title {
                font-size: 3.7rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .inner-desc {
                font-size: 2rem;
                margin-bottom: 4rem;
            }

            .list {

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;


                li {
                    a {
                        border-radius: 4.5rem;
                        color: #fff;
                        border: 1px solid #fff;
                        padding: 1rem 2rem;
                        transition: background-color 0.5s ease-in-out;

                        &:hover {
                            background-color: $colorBgTwo;
                        }

                    }
                }
            }
        }
    }

}

/*end section-one*/

/*section two*/
.section-two {
    padding: 10rem 0;

    .inner-contact {
        text-align: center;
        margin-bottom: 5rem;

        .inner-head {
            display: inline-block;
            padding: 1rem 1.5rem;
            background-color: #FDEFF2;
            color: $colorBgTwo;
            border-radius: 4.5rem;
            margin-bottom: 20px;
        }

        .inner-title {
            font-size: 5rem;
            font-weight: 500;
            margin-bottom: 1.4rem;

            span {
                color: $colorBgTwo;

            }
        }

        .inner-desc {
            font-size: 2rem;
            color: #ccb9bd;
        }

    }

    .inner-wrap {
        display: flex;

        .inner-list {
            width: 40%;
            padding: 7rem;



            .inner-item {
                display: flex;
                margin-bottom: 4rem;

                i {
                    width: 4rem;
                    height: 4rem;
                    font-size: 3rem;
                    color: #fff;
                    background-color: rgb(232, 121, 121);
                    transition-property: color, background-color;
                    transition: 0.5s ease-in-out;
                    padding: 1rem;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-right: 2rem;


                    &:hover {
                        color: #fff;
                        background-color: $colorBgTwo;
                    }
                }

                .inner-content {
                    .inner-title {
                        color: $colorText;
                        font-size: 3rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    .inner-desc {
                        color: $textTwo;
                        font-size: 2rem;
                    }
                }
            }

        }
    }
}

/*end section two*/


/*footer*/
.footer {
    padding: 8rem 0;
    background-color: $colorBg;
    color: #fff;

    .inner-wrap {
        display: flex;
        justify-content: space-between;

        .inner-box {
            width: calc(100% / 3 - 2rem);
            overflow: hidden;

            .inner-title {
                font-size: 2.6rem;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            .inner-desc {
                color: $textTwo;
                font-size: 1.6rem;
                line-height: 1.8rem;
                margin-bottom: 2rem;
            }

            .phone {
                i {
                    font-size: 2.6rem;
                    margin-right: 1rem;
                    color: #F88020;
                }

                span {
                    font-size: 1.6rem;

                }

                margin-bottom: 2rem;
            }

            .contact {
                i {
                    font-size: 2.6rem;
                    margin-right: 1rem;
                    color: #F88020;
                }

                span {
                    font-size: 1.6rem;

                }

                margin-bottom: 2rem;
            }

            .email {
                width: 70%;
                box-shadow: rgba(57, 57, 66, 0.05) 0px 1px 0px, rgba(215, 215, 235, 0.1) 0px 0px 8px;

                overflow: hidden;
                display: flex;
                border-radius: 4.5rem;

                input {
                    background-color: transparent;
                    width: 80%;
                    padding: 1rem;
                    color: #fff;
                }

                button {
                    color: #fff;
                    font-weight: 600;
                    padding: 1rem;
                    background-color: #F88020;
                    cursor: pointer;
                }

            }

            .menu-one {
                li {
                    margin-bottom: 3rem;


                    i {
                        font-size: 2rem;
                        margin-right: 1rem;
                    }

                    span {
                        font-style: italic;
                        font-size: 1.6rem;
                        color: $textTwo;
                        line-height: 2;

                    }
                }
            }

            .menu-two {
                li {
                    margin-bottom: 1rem;

                    a {
                        color: rgba(46, 46, 254, 0.9);
                        font-size: 2rem;
                        transition: color 0.5s ease-in-out;

                        &:hover {
                            color: rgba(87, 87, 241, 0.742);
                        }
                    }
                }

            }

            img {
                width: 50%;
            }
        }
    }

    hr {
        box-shadow: rgba(212, 204, 204, 0.15) 0px 5px 15px 0px;
    }

    .inner-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;


        .inner-menu {
            ol {
                display: flex;

                li {
                    margin-right: 2rem;
                    font-size: 1.8rem;
                }
            }

        }

        a {
            color: #fff;
            font-size: 1.8rem;
            transition: color 0.5s ease-in-out;

            &:hover {
                color: gray;
            }
        }
    }

}

/*end footer*/