/* .todos input:checked ~ span {
  color: red;
}

h2 + h2 {
  color: red;
} */
/* ul li a[target] {
  color: red;
} */
/* ul li a[href^= "https://fullstack.edu.vn"]
{
  color: red;
} */
/* ul li a[href*="fullstack.edu.vn"] {
  color: red;
} */
/* .item-1 {
  color: red;
}
.item-2 {
  color: green;
}
.item-3 {
  color: blue;
}
.item-4 {
  color: purple;
}
[class^="item-"] {
  border: 1px solid red;
} */
/* .content > * {
  color: red;
} */
.content > * {
  border: 1px solid red;
}
