html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background: #FEFEFE;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.ol,
ul {
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1060px;
  }
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 825px;
  }
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 648px;
  }
  html {
    font-size: 43.75%;
  }
}
@media screen and (max-width: 568px) {
  .container {
    max-width: 468px;
  }
  html {
    font-size: 37.5%;
  }
}
/*header*/
.header .container {
  padding: 4rem 0;
}
.header .container .inner-wrap {
  display: flex;
  align-items: center;
}
.header .container .inner-wrap .inner-logo a {
  color: #000;
  font-size: 2.7rem;
  font-weight: 400;
}
.header .container .inner-wrap .inner-logo a span {
  font-weight: 700;
}
.header .container .inner-wrap .inner-menu {
  margin-left: auto;
}
.header .container .inner-wrap .inner-menu ol {
  display: flex;
  column-gap: 6rem;
}
.header .container .inner-wrap .inner-menu ol a {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.16px;
}

/*end header*/
/*section one*/
.section-one {
  margin-bottom: 15rem;
}
.section-one .inner-wrap {
  display: flex;
}
.section-one .inner-wrap .inner-content {
  padding-top: 12rem;
  padding-left: 7rem;
  padding-right: 9.5rem;
}
.section-one .inner-wrap .inner-content .inner-title {
  color: #000;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 4rem;
}
.section-one .inner-wrap .inner-content .inner-desc {
  color: #565656;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 3.3rem;
}
.section-one .inner-wrap .inner-content .button {
  border-radius: 6rem;
  background: #2639ED;
  border: 2px solid #2639ED;
  color: #fff;
  display: inline-flex;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.3px;
  transition: 0.3s linear;
  transition-property: color, background-color;
}
.section-one .inner-wrap .inner-content .button:hover {
  background-color: #fff;
  color: #2639ED;
}
.section-one .inner-wrap .inner-image {
  margin-left: auto;
  position: relative;
  top: 0;
  left: 0;
}
.section-one .inner-wrap .inner-image .imageOne {
  position: absolute;
  top: 0;
  left: -5.5rem;
  z-index: -1;
}
.section-one .inner-wrap .inner-image .imageTwo {
  position: absolute;
  bottom: -8rem;
  right: 10.2rem;
  z-index: -1;
}

/*end section one*/
/*section two*/
.section-two .inner-wrap {
  display: flex;
  align-items: center;
  column-gap: 6rem;
}
.section-two .inner-wrap .inner-content {
  width: 26%;
}
.section-two .inner-wrap .inner-content .inner-title {
  font-size: 4rem;
  color: #000;
  font-weight: 500;
  margin-bottom: 1.7rem;
}
.section-two .inner-wrap .inner-content .inner-desc {
  font-size: 1.8rem;
  color: #565656;
  font-weight: 400;
  line-height: 2.8rem;
}
.section-two .inner-wrap .inner-social {
  width: 73%;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  column-gap: 6rem;
}

/*end section two*/
/*section three*/
.section-three {
  margin-top: 20rem;
  margin-bottom: 10rem;
  position: relative;
  top: 0;
  left: 0;
}
.section-three .imgOne {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -4;
}
.section-three .imgTwo {
  position: absolute;
  z-index: -1;
  top: 21rem;
  left: 0;
}
.section-three .imgThree {
  position: absolute;
  bottom: 8rem;
  right: 10rem;
  z-index: -6;
}
.section-three .inner-wrap {
  display: flex;
  align-items: center;
}
.section-three .inner-wrap .inner-content {
  width: 30%;
  padding-left: 7rem;
  padding-right: 9rem;
}
.section-three .inner-wrap .inner-content .inner-title {
  font-size: 4rem;
  color: #000;
  font-weight: 500;
  line-height: 5rem;
  margin-bottom: 3.1rem;
}
.section-three .inner-wrap .inner-content .inner-desc {
  color: #565656;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}
.section-three .inner-wrap .inner-list {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3.4rem;
  row-gap: 3rem;
}
.section-three .inner-wrap .inner-list .inner-box {
  align-self: center;
  padding: 4rem 3.2rem;
  width: 26rem;
  height: 30rem;
  background: #fff;
  border-radius: 40px;
  border: 1px solid #F2F2F2;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}
.section-three .inner-wrap .inner-list .inner-box .title {
  padding: 3rem 3.8rem;
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
}
.section-three .inner-wrap .inner-list .inner-box .desc {
  font-size: 1.6rem;
  color: #757575;
  line-height: 2.3rem;
}
.section-three .inner-wrap .inner-list .inner-box .inner-image {
  width: 121px;
  height: 121px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  text-align: center;
}
.section-three .inner-wrap .inner-list .inner-box .image-one {
  background: #F1F7FF;
}
.section-three .inner-wrap .inner-list .inner-box .image-two {
  background: #FFF7E3;
}
.section-three .inner-wrap .inner-list .inner-box .image-three {
  background: #FFF2F8;
}
.section-three .inner-wrap .inner-list .inner-box .image-four {
  background: #DEFFEE;
}
.section-three .inner-wrap .inner-list .inner-box .title {
  font-size: 2.4rem;
  color: #000;
  text-align: center;
}
.section-three .inner-wrap .inner-list .inner-box .desc {
  color: #565656;
  text-align: center;
}
.section-three .inner-wrap .inner-list .box-one,
.section-three .inner-wrap .inner-list .box-three {
  top: -6.1rem;
}
.section-three .inner-wrap .inner-list .box-two,
.section-three .inner-wrap .inner-list .box-four {
  top: -14rem;
}

/*end section three*/
/*section four*/
.section-four {
  padding: 5rem;
}
.section-four .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-four .inner-wrap .inner-image {
  width: 50%;
  position: relative;
}
.section-four .inner-wrap .inner-image .image-one {
  position: absolute;
  left: 75%;
  bottom: 0;
  z-index: -3;
}
.section-four .inner-wrap .inner-image .image-two {
  position: absolute;
  top: 36%;
  right: 48%;
}
.section-four .inner-wrap .inner-content {
  width: 45%;
  padding: 0 6rem;
  position: relative;
}
.section-four .inner-wrap .inner-content .inner-title {
  font-size: 4rem;
  color: #000;
  font-weight: 500;
  line-height: normal;
  padding-right: 6rem;
  margin-bottom: 3rem;
}
.section-four .inner-wrap .inner-content .inner-desc {
  color: #565656;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.section-four .inner-wrap .inner-content .inner-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -6;
}

/*end section four*/
/*section five*/
.section-five {
  padding: 100px 0;
}
.section-five .inner-head {
  text-align: center;
  padding: 35rem;
}
.section-five .inner-head .inner-title {
  font-size: 4rem;
  color: #000;
  margin-bottom: 2rem;
}
.section-five .inner-head .inner-desc {
  color: #757575;
  line-height: 2.9rem;
  font-size: 1.6rem;
}
.section-five .inner-wrap {
  display: flex;
}
.section-five .inner-wrap .inner-box {
  width: calc(33.3333333333% - 2rem);
}

/*end section five*/

/*# sourceMappingURL=style.css.map */
