* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
.box .container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.box .inner-title {
  text-align: center;
}
.box .inner-title h1 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.box .inner-title p {
  margin-bottom: 40px;
}
.box .inner-wrap {
  display: flex;
  /* flex-wrap: wrap; */
  flex-wrap: wrap;
  /* justify-content: space-between;
  align-items: center; */
  gap: 20px;
  justify-content: space-between;
}
.box .inner-box {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box .inner-box img {
  margin-bottom: 10px;
}
.box .inner-box a {
  color: white;
  background: blue;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 7px 15px;
  margin-top: 30px;
}

.box .inner-box p {
  text-align: center;
}
