* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.inner-head {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.inner-head .inner-logo {
    font-size: 30px;

}

.inner-head .btn-login {
    border: 1px solid #000;
    padding: 20px 40px;
    color: rgb(224, 125, 188);
    /* background-color: rgb(224, 125, 188); */
    font-size: 20px;
    border-radius: 45px;

}

.inner-wrap .inner-box {
    border: 2px solid rgb(165, 164, 164);
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 20px;
}

.inner-wrap .inner-box .inner-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inner-wrap .inner-box .inner-logo span {
    font-size: 14px;
    margin-left: 20px;
    font-weight: 500;
}



.inner-wrap .inner-box .inner-content .inner-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;

}

.inner-wrap .inner-box .inner-content .inner-desc iframe {
    margin: 30px;
}

.inner-wrap .inner-box .inner-content .inner-desc {
    color: gray;
    font-size: 16px;
}

.inner-wrap .inner-box .inner-content .inner-link {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    margin: 20px 0;
}

.inner-wrap .inner-box .inner-content .inner-link a {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 45px;
    background-color: rgb(236, 174, 99);
    color: #fff;
}

.inner-wrap .inner-box .inner-content .inner-time {
    display: flex;
    justify-content: space-between;
}