html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

input,
textarea,
select,
button {
  font-family: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 780px;
    margin: 0 auto;
  }
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 580px;
    margin: 0 auto;
  }
  html {
    font-size: 43.75%;
  }
}
@media screen and (max-width: 568px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
  html {
    font-size: 37.5%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 35px;
    margin: 0 auto;
  }
  html {
    font-size: 37.5%;
  }
}
/*header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 2.6rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;
  background-color: #fff;
}
.header .inner-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner-wrap .inner-menu ol {
  display: flex;
}
.header .inner-wrap .inner-menu ol li a {
  color: #232323;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07px;
  padding: 2.6rem 2rem;
  display: inline-block;
}
.header .inner-wrap .inner-menu ol li a::after {
  content: "";
  background: #232323;
  width: 0%;
  transition: width 0.3s ease-in-out;
  height: 2px;
  display: block;
}
.header .inner-wrap .inner-menu ol li a:hover::after {
  width: 100%;
}
.header .inner-wrap .inner-menu ol li .active::after {
  width: 100%;
}
.header .inner-wrap .inner-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner-wrap .inner-box .sign-up {
  width: 8.4rem;
  height: 4.2rem;
  border-radius: 12px;
  background: linear-gradient(180deg, #272727 0%, #171717 46.01%, #101010 100%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07px;
}
.header .inner-wrap .inner-box .image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header .inner-wrap .menu-toggle {
  font-size: 3rem;
  display: none;
}
.header .inner-wrap .closed {
  font-size: 3rem;
  display: none;
}

@media screen and (max-width: 992px) {
  .header .inner-wrap {
    justify-content: flex-start;
  }
  .header .inner-wrap .inner-logo {
    margin-right: auto;
  }
  .header .inner-wrap .inner-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    display: block;
    transform: translate(-100%);
    background: rgb(148, 181, 221);
    background: linear-gradient(148deg, rgb(148, 181, 221) 0%, rgb(81, 165, 190) 49%, rgb(160, 218, 216) 96%);
    transition: 0.3s ease-in-out;
    transition-property: height, translate;
  }
  .header .inner-wrap .inner-menu ol {
    display: block;
    text-align: center;
  }
  .header .inner-wrap .inner-menu ol li a {
    color: #fff;
    transition: 0.3s ease-in-out;
    transform: translateZ(-100%);
    transition-property: transform, color;
  }
  .header .inner-wrap .inner-menu ol li a:hover {
    color: #232323;
  }
  .header .inner-wrap .inner-menu ol li a::after {
    display: none;
  }
  .header .inner-wrap .menu-toggle {
    display: block;
  }
  .header .inner-wrap #check:checked ~ .inner-menu {
    height: 250%;
    transform: translate(0%);
  }
  .header .inner-wrap #check:checked ~ .inner-menu ol li a {
    transform: translateZ(0);
  }
  .header .inner-wrap #check:checked ~ .closed {
    display: block;
  }
  .header .inner-wrap #check:checked ~ .menu-toggle {
    display: none;
  }
}
/*end header*/
/*section one*/
.section-one {
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
}
.section-one .inner-image {
  width: 50%;
  overflow: hidden;
}
.section-one .inner-image img {
  width: 100%;
}
.section-one .inner-content {
  width: 50%;
  padding-left: 13.5rem;
  padding-right: 8.1rem;
}
.section-one .inner-content .content-head {
  color: #FF4415;
  font-family: "Seaweed Script", cursive;
  font-size: 4.4rem;
  line-height: 5rem;
  margin-bottom: 1.6rem;
}
.section-one .inner-content .inner-title {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #101010;
  margin-bottom: 2.2rem;
}
.section-one .inner-content .inner-desc {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #646464;
  margin-bottom: 3.5rem;
  margin-right: 14.4rem;
}
.section-one .inner-content .box {
  display: flex;
  margin-right: 13.2rem;
  border: 1px solid #00BE4C;
  border-radius: 16px;
  box-shadow: 0px 10px 20px -10px rgba(234, 234, 234, 0.4);
  justify-content: space-between;
  margin-bottom: 5rem;
  overflow: hidden;
}
.section-one .inner-content .box .item-one {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 2.5rem 1.6rem;
  justify-content: space-between;
}
.section-one .inner-content .box .item-one span {
  color: #B1B1B1;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-right: auto;
}
.section-one .inner-content .box .item-one i {
  color: #B1B1B1;
  font-size: 2rem;
}
.section-one .inner-content .box .item-two {
  width: 30%;
  background: linear-gradient(92deg, #3FDA7D 48.17%, #00BE4C 100%);
  padding: 1.5rem 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-one .inner-content .box .item-two a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}
.section-one .inner-content .box .item-two i {
  color: #00BE4C;
  background-color: #fff;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  transition-property: transform;
  transform: translate(0%);
}
.section-one .inner-content .box .item-two i:hover {
  transform: translateX(30%);
}
.section-one .inner-content .content-foot {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  color: #838383;
}
.section-one .inner-content .content-foot span {
  color: #FF4D20;
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .section-one {
    padding: 15rem 13.5rem;
    flex-wrap: wrap;
  }
  .section-one .inner-image {
    width: 100%;
    order: -2;
  }
  .section-one .inner-image img {
    width: 100%;
    text-align: center;
    border-radius: 2.8rem;
  }
  .section-one .inner-content {
    width: 100%;
    padding: 5rem 0;
  }
  .section-one .inner-content .box {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .section-one {
    padding: 15rem 10rem;
    flex-wrap: wrap;
  }
  .section-one .inner-image {
    width: 100%;
    order: -2;
  }
  .section-one .inner-image img {
    width: 100%;
    text-align: center;
    border-radius: 2.8rem;
  }
  .section-one .inner-content {
    width: 100%;
    padding: 5rem 0;
  }
  .section-one .inner-content .box {
    width: 80%;
  }
}
@media screen and (max-width: 568px) {
  .section-one {
    padding: 15rem 6rem;
    flex-wrap: wrap;
  }
  .section-one .inner-image {
    width: 100%;
    order: -2;
  }
  .section-one .inner-image img {
    width: 100%;
    text-align: center;
    border-radius: 2.8rem;
  }
  .section-one .inner-content {
    width: 100%;
    padding: 5rem 0;
  }
  .section-one .inner-content .box {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .section-one {
    padding: 15rem 3.5rem;
    flex-wrap: wrap;
  }
  .section-one .inner-image {
    width: 100%;
    order: -2;
  }
  .section-one .inner-image img {
    width: 100%;
    text-align: center;
    border-radius: 2.8rem;
  }
  .section-one .inner-content {
    width: 100%;
    padding: 5rem 0;
  }
  .section-one .inner-content .box {
    width: 95%;
  }
}
/*end section one*/
/*section two*/
.section-two {
  padding: 10rem 0;
}
.section-two .inner-head {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 6.5rem;
}
.section-two .inner-head .inner-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #101010;
}
.section-two .inner-wrap {
  display: flex;
  justify-content: space-between;
}
.section-two .inner-wrap .box {
  width: calc(25% - 9.2rem);
  border-radius: 2.4rem;
  background: #F6F6F6;
  display: flex;
  padding: 2rem 3rem;
  position: relative;
  inset: 0;
}
.section-two .inner-wrap .box .content {
  width: 55%;
}
.section-two .inner-wrap .box .content .inner-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #171717;
  margin-bottom: 1.6rem;
}
.section-two .inner-wrap .box .content .inner-desc {
  color: #646464;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.section-two .inner-wrap .box .content .inner-desc span {
  color: #FF4415;
  font-weight: 600;
}
.section-two .inner-wrap .box .inner-image {
  width: 45%;
  position: absolute;
  top: -3rem;
  right: 2rem;
  transition-property: transform;
  transition: 0.3s ease-in-out;
  transform: translateY(0%);
}
.section-two .inner-wrap .box .inner-image:hover {
  transform: translateY(-10%);
}

@media screen and (max-width: 1200px) {
  .section-two .inner-wrap {
    flex-wrap: wrap;
    row-gap: 5rem;
    justify-content: space-between;
  }
  .section-two .inner-wrap .box {
    width: calc(50% - 10rem);
  }
  .section-two .inner-wrap .box .content .inner-desc {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .section-two .inner-wrap {
    flex-wrap: wrap;
    row-gap: 5rem;
    justify-content: center;
  }
  .section-two .inner-wrap .box {
    width: calc(100% - 15rem);
    padding: 6rem;
  }
  .section-two .inner-wrap .box .content .inner-desc {
    display: flex;
    flex-direction: column;
  }
}
/*end section two*/
/*section three*/
.section-three {
  padding: 5rem 0;
}
.section-three .inner-head {
  text-align: center;
}
.section-three .inner-head .special {
  font-family: "Seaweed Script", cursive;
  color: #FF4415;
  font-size: 4rem;
  line-height: 5rem;
}
.section-three .inner-head .inner-title {
  color: #101010;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.2rem;
  margin: 0 36.9rem;
  margin-bottom: 5.5rem;
}
.section-three .inner-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
}
.section-three .inner-wrap .box {
  width: calc(33.3333333333% - 6.6rem);
  text-align: center;
}
.section-three .inner-wrap .box img {
  margin-bottom: 4rem;
}
.section-three .inner-wrap .box .inner-title {
  color: #101010;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.13px;
  margin-bottom: 2.4rem;
}
.section-three .inner-wrap .box .inner-desc {
  color: #646464;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.section-three .inner-image {
  margin: 0 auto;
  padding-top: 11rem;
}
.section-three .inner-image img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .section-three .inner-head .special {
    font-family: "Seaweed Script", cursive;
    color: #FF4415;
    font-size: 4rem;
    line-height: 5rem;
  }
  .section-three .inner-head .inner-title {
    color: #101010;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    margin: 0 30rem;
    margin-bottom: 5.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section-three .inner-head .special {
    font-family: "Seaweed Script", cursive;
    color: #FF4415;
    font-size: 4rem;
    line-height: 5rem;
  }
  .section-three .inner-head .inner-title {
    color: #101010;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    margin: 0 20rem;
    margin-bottom: 5.5rem;
  }
}
/*end section three*/
/*section four*/
.section-four {
  padding: 5rem 0;
}
.section-four .inner-head {
  text-align: center;
}
.section-four .inner-head .special {
  font-family: "Seaweed Script", cursive;
  color: #FF4415;
  font-size: 4rem;
  line-height: 5rem;
}
.section-four .inner-head .inner-title {
  color: #101010;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.2rem;
  margin: 0 36.9rem;
  margin-bottom: 5.5rem;
}
.section-four .inner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4rem;
}
.section-four .inner-list .inner-item {
  width: calc(33.3333333333% - 8rem);
  padding: 2rem 3rem;
  border-radius: 24px;
  border: 1.2px solid #EFEFEF;
  background: #FFF;
}
.section-four .inner-list .inner-item .inner-image {
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 20rem;
}
.section-four .inner-list .inner-item .inner-image img {
  width: 100%;
  text-align: center;
  transition-property: transform;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}
.section-four .inner-list .inner-item .inner-image img:hover {
  transform: translateY(-10%);
}
.section-four .inner-list .inner-item .image {
  width: 70%;
}
.section-four .inner-list .inner-item .inner-title {
  font-size: 2rem;
  color: #101010;
  font-weight: 600;
  margin: 1.2rem 0;
}
.section-four .inner-list .inner-item .inner-desc {
  color: #646464;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}
.section-four .inner-list .inner-item .box {
  display: flex;
  align-items: center;
}
.section-four .inner-list .inner-item .box .price {
  margin-right: auto;
  font-size: 2rem;
  color: #060606;
  font-weight: 500;
}
.section-four .inner-list .inner-item .box .choose {
  display: flex;
  align-items: center;
}
.section-four .inner-list .inner-item .box .choose .share {
  display: inline-block;
  position: relative;
  padding: 0.8rem;
  top: -0.5rem;
  border-radius: 8px;
  background: #171717;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

/*end section four*/

/*# sourceMappingURL=style.css.map */
