@import "reset";
@import "variables";
@import "base";

/*header*/
.header {
    background: $background-color;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .container {
        padding: 30px 0;
    }

    .inner-wrap {
        display: flex;

        .logo {
            margin-right: auto;

            .round {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                width: 50px;
                height: 50px;
                background-color: $color-bg;
                font-size: 2.4rem;
                color: #fff;
                border-radius: 50%;
                margin-right: 10px;
                font-weight: 700;
            }

            .text {
                color: #233348;
                font-size: 2.4rem;
                font-weight: 700;
            }
        }
    }

    .nav-menu {
        ol {
            display: flex;

            column-gap: 40px;

            .nav-link {
                display: inline-block;
                font-size: 2rem;
                padding: 10px 0;
                color: $text-two;
                font-weight: 500;
                opacity: 0.5;
                transition-property: opacity;
                transition: 0.3s ease-in-out;
                position: relative;
                top: 0;
                left: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    opacity: 0;
                    background-color: $text-color;
                    transition: width, opacity;
                    transition: 0.3s ease-in-out;

                }

                &:hover::before,
                &.active::before {
                    width: 100%;
                    opacity: 0.6;
                }
            }

            .active {
                opacity: 1;
            }
        }
    }
}

/*end header*/
/*section-one*/
.section-one {
    padding: 100px;


    .inner-wrap {
        display: flex;
        justify-content: space-between;

        align-items: center;

        .inner-image {
            width: 50%;

            img {
                width: 100%;
                background-size: cover;
            }
        }

        .inner-content {
            width: 50%;
            padding: 0 50px;

            .inner-title {
                color: $text-color;
                font-size: 8.5rem;
                line-height: 1.2;

                padding: 30px 0;
                font-weight: 700;

            }

            .inner-desc {
                color: $text-one;
                font-size: 3rem;
                padding: 20px 0;
                line-height: 1.5;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .section-one {
        padding: 80px;

        .inner-wrap {
            justify-content: center;
            flex-wrap: wrap;

            .inner-image {
                width: 100%;

            }

            .inner-content {
                width: 100%;
            }

        }

    }
}



/*end section-one*/
/*button*/
.button {
    display: inline-block;
    padding: 20px 40px;
    color: $text-color;
    border-radius: 45px;
    background-color: #ccc;
    font-size: 2.4rem;
    font-weight: 600;
}

.button-one {
    background-color: $color-bg;
    color: #fff;
    border: 2px solid $color-bg;

    &:hover {
        color: $color-bg;
        background: #fff;
    }
}

.button-two {
    background: #fff;
    border: 2px solid $color-bg;
    color: $color-bg;

    &:hover {
        color: #fff;
        background-color: $color-bg;
    }
}

/*end button*/
/* section two*/
.section-two {
    padding: 90px 0;
    background: $background-color;

    .inner-head {
        text-align: center;

        .inner-title {
            font-size: 60px;
            color: $text-color;
            line-height: 1.2;
            font-weight: 700;
            padding: 30px;
            position: relative;
            margin-bottom: 20px;
            top: 0;
            left: 0;

            &::before {
                content: "";
                width: 6%;
                position: absolute;
                height: 3px;
                color: $text-color;
                background-color: $text-color;
                bottom: 0;
                left: 47%;
                right: 53%;
            }
        }

        .inner-desc {

            font-size: 2.4rem;
            color: $text-one;
            font-weight: 500;
            line-height: 1.5;
            padding: 30px 150px;

        }
    }

    .inner-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 40px;
        padding: 100px 0;

        .inner-box {
            padding: 50px;
            width: calc(100% / 3 - 130px);
            background-color: #fff;
            border-radius: 20px;

            .inner-image {
                height: 100px;
            }

            .inner-title {
                font-size: 4rem;
                color: $text-color;
                font-weight: 700;
                line-height: 1.2;
                padding: 30px 0;
            }

            .inner-desc {
                font-size: 2.4rem;
                color: $text-one;
                line-height: 2;
                margin-bottom: 20px;
            }

        }

    }

    .more {
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .section-two {
        .inner-wrap {
            .inner-box {
                width: calc(100% / 2 - 130px);
            }
        }

    }
}

@media screen and (max-width:992px) {
    .section-two {
        .inner-head {
            .inner-desc {
                padding: 30px;

            }
        }

    }
}

@media screen and (max-width:568px) {
    .section-two {
        .inner-wrap {
            .inner-box {
                width: 100%;
            }
        }

    }
}

/* end section two*/
/*section three*/
.section-three {
    padding: 80px 0;

    .inner-wrap {
        display: flex;
        justify-content: space-between;

        .inner-image {
            width: 50%;
        }

        .inner-content {
            width: 50%;
            padding: 30px;

            .inner-title {
                font-size: 6.5rem;
                color: $text-color;
                line-height: 1.2;
                font-weight: 700;
                padding-bottom: 30px;
                position: relative;
                margin-bottom: 50px;
                top: 0;
                left: 0;

                &::before {
                    content: "";
                    width: 10%;
                    position: absolute;
                    height: 3px;
                    color: $text-color;
                    background-color: $text-color;
                    bottom: 0;
                    left: 0;

                }
            }

            .inner-desc {

                font-size: 2.4rem;
                color: $text-one;
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 50px;



            }
        }
    }
}

@media screen and (max-width:1400px) {
    .section-three {
        .inner-wrap {
            flex-wrap: wrap;

            row-gap: 40px;
            align-items: center;
            justify-content: center;

            .inner-image {
                width: 100%;
                padding: 100px;

                img {
                    width: 100%;
                }

            }

            .inner-content {
                padding: 100px;
                width: 100%;

            }
        }

    }
}

@media screen and (max-width:992px) {
    .section-three {
        .inner-wrap {
            .inner-image {
                padding: 50px;
            }

            .inner-content {
                padding: 50px;
            }
        }

    }
}

/*end section three*/
/*section four*/
.section-four {
    @extend .section-three;

    .inner-wrap {


        .button {
            position: relative;
            top: 0;
            left: 0;
            padding: 20px 50px;

            .icon {
                position: absolute;
                font-size: 2.2rem;
                color: $color-bg;
                top: 20px;
                right: 20px;
            }

            &:hover i {
                color: #fff;
            }
        }

    }
}

@media screen and (max-width:1400px) {
    .section-four {
        .inner-wrap {
            .inner-image {
                order: -1;
            }
        }
    }
}

/* end section four*/
/* section five*/
.section-five {
    padding: 100px 0;

    .inner-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        row-gap: 40px;


        .box-one {
            width: 80%;
            border-radius: 24px;
            background: rgb(216, 74, 58);
            background: linear-gradient(148deg, rgba(216, 74, 58, 1) 0%, rgba(152, 188, 107, 1) 27%, rgba(36, 201, 230, 1) 49%, rgba(216, 232, 35, 1) 100%);
            padding: 65px 120px;
            color: #fff;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0%);
            transition-property: opacity, transform;
            transition: 0.3s ease-in-out;


            .inner-head {
                text-align: center;
                color: $text-color;
                font-size: 4rem;
                font-weight: 700;
                color: #fff;
                position: relative;
                padding: 20px;
                top: 0;
                left: 0;
                margin-bottom: 50px;

                &::before {
                    content: "";
                    width: 5%;
                    background: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 45%;
                    right: 55%;
                    height: 3px;
                }
            }

            .item {
                display: flex;
                align-items: center;
                column-gap: 10px;

                .inner-image {

                    width: 15%;
                    padding: 30px;

                    img {
                        width: 80%;
                        border-radius: 50%;
                        border: 5px solid #fff;
                    }
                }

                .content-left {
                    width: 30%;
                    padding: 20px;

                    .name-person {
                        font-weight: 700;
                        font-size: 2.6rem;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 2rem;
                        font-weight: 400;
                    }
                }

                .content-right {
                    width: 55%;
                    padding: 40px;

                    blockquote {
                        font-size: 2.8rem;
                        line-height: 2;

                    }
                }
            }
        }

        .box-two {
            @extend .box-one;
            background: rgb(216, 122, 58);
            background: linear-gradient(148deg, rgba(216, 122, 58, 1) 0%, rgba(147, 206, 170, 1) 49%, rgba(146, 176, 239, 1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: translate(100%);
            transition-property: opacity, transform;
            transition: 0.3s ease-in-out;
        }

        .box-three {
            @extend .box-one;
            background: rgb(157, 213, 196);
            background: linear-gradient(148deg, rgba(157, 213, 196, 1) 0%, rgba(234, 146, 239, 1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: translate(200%);
            transition-property: opacity, transform;
            transition: 0.3s ease-in-out;
        }

        .box-four {
            @extend .box-one;
            background: rgb(180, 216, 58);
            background: linear-gradient(148deg, rgba(180, 216, 58, 1) 0%, rgba(147, 206, 170, 1) 49%, rgba(234, 146, 239, 1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: translate(300%);
            transition-property: opacity, transform;
            transition: 0.3s ease-in-out;
        }

        .slider {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 10px;

            label {
                width: 20px;
                height: 20px;
                border: 1px solid #ccc;
                border-radius: 50%;
            }

        }

        #check-one:checked~.slider .check-one {
            background-color: $color-bg;
        }

        #check-two:checked~.slider .check-two {
            background-color: $color-bg;
        }

        #check-two:checked~.box-two {
            opacity: 1;
            transform: translate(0);
            transition-delay: 0.1s;
        }


        #check-three:checked~.slider .check-three {
            background-color: $color-bg;
        }

        #check-three:checked~.box-three {
            opacity: 1;
            transform: translate(0);
            transition-delay: 0.2s;
        }

        #check-four:checked~.slider .check-four {
            background-color: $color-bg;
        }

        #check-four:checked~.box-four {
            opacity: 1;
            transform: translate(0);
            transition-delay: 0.3s;
        }
    }
}

@media screen and (max-width:1400px) {
    .section-five {
        .inner-wrap {
            .box-one {
                width: 100%;
                padding: 30px;

            }


        }
    }
}

/* end section five*/
/* section six*/
.section-six {
    padding: 100px 0;
    background: $background-color;

    .inner-head {
        font-size: 5rem;
        line-height: 1.2;
        color: $text-color;
        font-weight: 700;
        text-align: center;
        padding: 30px 0;
        margin-bottom: 100px;
        position: relative;
        top: 0;
        left: 0;

        &::before {
            content: "";
            width: 6%;
            height: 3px;
            color: $text-color;
            position: absolute;
            bottom: 0;
            left: 48%;
            background-color: $text-color;
        }

    }

    .inner-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;

        .inner-box {
            width: calc(100% / 3 - 40px);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
            overflow: hidden;



            .inner-image {
                width: 100%;

                aspect-ratio: 4/3;




                img {
                    object-fit: cover;
                    width: 100%;


                }
            }

            .inner-content {
                padding: 10px 50px;

                .inner-title {
                    font-size: 3rem;
                    color: $text-color;
                    font-weight: 600;
                    line-height: 1.3;
                    margin-bottom: 40px;
                }

                .inner-desc {
                    color: $text-one;
                    font-size: 2.2rem;
                    font-weight: 500;
                    padding-right: 20px;
                    line-height: 2;
                    margin-bottom: 30px;
                }

                .inner-footer {
                    margin-bottom: 40px;

                    a {
                        text-decoration: none;
                        color: $color-bg;


                        i {
                            margin-left: 10px;
                            transform: translate(0);
                            transition: transform 0.3s ease-in-out;
                            font-size: 2.2rem;

                            &:hover {
                                transform: translate(10px);
                            }
                        }

                        span {
                            font-size: 2.2rem;
                            font-weight: 600;

                        }

                    }


                }

            }
        }

    }

    .more {
        text-align: center;
    }
}

/* end section six*/
/*footer*/
.footer {
    padding: 100px 0;
    background: rgb(92, 159, 242);
    background: linear-gradient(148deg, rgba(92, 159, 242, 1) 0%, rgba(145, 227, 239, 1) 100%);

    .inner-wrap {
        display: flex;
        align-items: center;

        .row-one {
            width: 40%;

            color: #fff;

            .logo {
                margin-bottom: 30px;

                .round {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    font-size: 2.4rem;
                    color: $color-bg;
                    border-radius: 50%;
                    margin-right: 10px;
                    font-weight: 700;
                }

                .text {
                    color: #fff;
                    font-size: 2.4rem;
                    font-weight: 700;
                }
            }

            .inner-desc {
                font-size: 2.4rem;
                padding-right: 30px;
                line-height: 1.5;
                margin-bottom: 30px;
                font-weight: 400;

            }

            .inner-more {
                font-size: 2rem;
                font-weight: 400;

            }
        }

        .row {
            width: calc(60% / 3 - 20px);

            .inner-title {
                font-size: 2.4rem;
                font-weight: 700;
                color: #fff;
                padding: 0;
                margin-bottom: 30px;
            }

            ol {
                line-height: 2;

                a {
                    color: #fff;
                    cursor: pointer;
                    font-size: 2rem;
                    font-weight: 400;

                    &:hover {
                        color: #ccc;
                    }
                }

            }
        }


    }
}

/*end footer*/