/* Section-one */
.section-one {
  background-color: #f8fcf9;
  padding: 60px 0;
}
.section-one a {
  color: black;
  text-decoration: none;
  margin-bottom: 3cm;
}
.section-one .inner-box {
  margin: 30px 0;
}
.section-one .container .row i {
  font-size: 36px;
  margin-bottom: 30px;
}
.section-one .inner-box .inner-title {
  font-size: 20px;
}
.section-one a:hover {
  color: #5cb874;
}
.section-one .inner-box .inner-decs {
  font-size: 14px;
}
/* End Section-one */
/* Section-two */
.section-two {
  margin: 20px 50px;
}
.section-two .inner-head {
  text-align: center;
  margin-bottom: 50px;
}
.section-two .inner-head .inner-title {
  width: 200px;
  position: relative;
  left: 40%;
  top: 0;
}
.section-two .inner-head h2 {
  padding: 20px;
  margin-bottom: 20px;
}
.section-two .inner-head .inner-title::before {
  content: "";
  width: 40px;
  height: 3px;
  border: 1px solid #5cb874;
  position: absolute;
  background-color: #5cb874;
  bottom: 0;
  z-index: 2;
  left: 75px;
}
.section-two .inner-head .inner-title::after {
  content: "";
  width: 120px;
  height: 2;
  border: 1px solid rgb(207, 205, 205);
  position: absolute;
  background-color: rgb(207, 205, 205);
  bottom: 0;
  left: 35px;
}
.section-two .inner-head p {
  color: gray;
}
.section-two .row .inner-box h4 {
  color: #444444;
  font-weight: 700px;
  font-size: 30px;
}
.section-two .row .inner-box p {
  margin-bottom: 20px;
}
.section-two .inner-image img {
  width: 100%;
  height: auto;
}
@media (max-width: 991.98px) {
  .section-two .inner-left {
    order: 1;
  }
  .section-two .inner-box {
    margin-top: 30px;
  }
}
/* End Section-two */
/* Section-three */
.section-three {
  margin: 30px 50px;
}
.section-three .row .number {
  color: #5cb874;
  font-size: 30px;
  margin-bottom: 20px;
}
.section-three .row .inner-title {
  font-weight: 400;
  font-size: 25px;
}
.section-three .row .inner-box {
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: (100% /3 - 50px);
  height: 250px;
}

/* End section three */
