:root {
    --color-one: #7355CF;
    --color-two: #FF589E;
    --color-bg: #F2F2FE;
    --color-text: #6F8BA4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    outline: none;
    border: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;

    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;

    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
}