@import 'reset.scss';
@import 'base.scss';
@import 'variables.scss';

/*header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 2.6rem 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
    background-color: #fff;

    .inner-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;




        .inner-menu {
            ol {
                display: flex;

                li {
                    a {
                        color: $colorMenu;
                        font-size: 1.4rem;
                        font-weight: 500;
                        letter-spacing: 0.07px;
                        padding: 2.6rem 2rem;
                        display: inline-block;


                        &::after {
                            content: "";
                            background: $colorMenu;
                            width: 0%;
                            transition: width 0.3s ease-in-out;
                            height: 2px;
                            display: block;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }

                    .active {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .inner-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sign-up {
                width: 8.4rem;
                height: 4.2rem;
                border-radius: 12px;
                background: linear-gradient(180deg, #272727 0%, #171717 46.01%, #101010 100%);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0.07px;

            }

            .image {
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }

        .menu-toggle {
            font-size: 3rem;
            display: none;
        }

        .closed {
            font-size: 3rem;
            display: none;
        }
    }
}

@media screen and (max-width:992px) {
    .header {
        .inner-wrap {
            justify-content: flex-start;

            .inner-logo {
                margin-right: auto;
            }

            .inner-menu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 0%;
                overflow: hidden;
                display: block;
                transform: translate(-100%);
                background: rgb(148, 181, 221);
                background: linear-gradient(148deg, rgba(148, 181, 221, 1) 0%, rgba(81, 165, 190, 1) 49%, rgba(160, 218, 216, 1) 96%);
                transition: 0.3s ease-in-out;
                transition-property: height, translate;

                ol {
                    display: block;
                    text-align: center;

                    li {
                        a {
                            color: #fff;
                            transition: 0.3s ease-in-out;
                            transform: translateZ(-100%);
                            transition-property: transform, color;


                            &:hover {
                                color: $colorMenu;
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            .menu-toggle {
                display: block;
            }

            #check:checked~.inner-menu {
                height: 250%;
                transform: translate(0%);
            }

            #check:checked~.inner-menu ol li a {
                transform: translateZ(0);
            }

            #check:checked~.closed {
                display: block;
            }

            #check:checked~.menu-toggle {
                display: none;
            }

        }
    }

}

/*end header*/
/*section one*/
.section-one {
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;

    .inner-image {
        width: 50%;
        overflow: hidden;

        img {
            width: 100%;

        }
    }

    .inner-content {
        width: 50%;
        padding-left: 13.5rem;
        padding-right: 8.1rem;

        .content-head {
            color: $colorRed;
            font-family: $fontFamily;
            font-size: 4.4rem;
            line-height: 5rem;
            margin-bottom: 1.6rem;
        }

        .inner-title {
            font-size: 6.2rem;
            font-weight: 700;
            line-height: 7.2rem;
            color: $colorTitle;
            margin-bottom: 2.2rem;

        }

        .inner-desc {
            font-size: 1.8rem;
            line-height: 3rem;
            color: $colorDecs;
            margin-bottom: 3.5rem;
            margin-right: 14.4rem;
        }

        .box {
            display: flex;
            margin-right: 13.2rem;

            border: 1px solid #00BE4C;
            border-radius: 16px;
            // background: linear-gradient(92deg, #3FDA7D 48.17%, #00BE4C 100%);
            box-shadow: 0px 10px 20px -10px rgba(234, 234, 234, 0.40);
            justify-content: space-between;
            margin-bottom: 5rem;
            overflow: hidden;

            .item-one {
                width: 70%;
                display: flex;
                align-items: center;
                padding: 2.5rem 1.6rem;
                justify-content: space-between;

                span {
                    color: #B1B1B1;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    margin-right: auto;
                }

                i {
                    color: #B1B1B1;
                    font-size: 2rem;
                }
            }

            .item-two {
                width: 30%;
                background: linear-gradient(92deg, #3FDA7D 48.17%, #00BE4C 100%);
                padding: 1.5rem 1.6rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                a {
                    color: #fff;
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                i {
                    color: #00BE4C;
                    background-color: #fff;
                    font-size: 2rem;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 1rem;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s ease-in-out;
                    transition-property: transform;
                    transform: translate(0%);

                    &:hover {
                        transform: translateX(30%);
                    }
                }

            }
        }

        .content-foot {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 3rem;
            color: #838383;

            span {
                color: #FF4D20;

                font-size: 1.8rem;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .section-one {
        padding: 15rem 13.5rem;
        flex-wrap: wrap;

        .inner-image {
            width: 100%;
            order: -2;

            img {
                width: 100%;
                text-align: center;
                border-radius: 2.8rem;
            }

        }

        .inner-content {
            width: 100%;
            padding: 5rem 0;

            .box {
                width: 60%;
            }

        }
    }
}

@media screen and (max-width:768px) {
    .section-one {
        padding: 15rem 10rem;
        flex-wrap: wrap;

        .inner-image {
            width: 100%;
            order: -2;

            img {
                width: 100%;
                text-align: center;
                border-radius: 2.8rem;
            }

        }

        .inner-content {
            width: 100%;
            padding: 5rem 0;

            .box {
                width: 80%;
            }

        }
    }
}

@media screen and (max-width:568px) {
    .section-one {
        padding: 15rem 6rem;
        flex-wrap: wrap;

        .inner-image {
            width: 100%;
            order: -2;

            img {
                width: 100%;
                text-align: center;
                border-radius: 2.8rem;
            }
        }

        .inner-content {
            width: 100%;
            padding: 5rem 0;

            .box {
                width: 80%;
            }

        }
    }
}

@media screen and (max-width:480px) {
    .section-one {
        padding: 15rem 3.5rem;
        flex-wrap: wrap;

        .inner-image {
            width: 100%;
            order: -2;

            img {
                width: 100%;
                text-align: center;
                border-radius: 2.8rem;
            }
        }

        .inner-content {
            width: 100%;
            padding: 5rem 0;

            .box {
                width: 95%;
            }

        }
    }
}

/*end section one*/
/*section two*/
.section-two {
    padding: 10rem 0;

    .inner-head {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-bottom: 6.5rem;

        .inner-title {
            font-size: 2.4rem;
            font-weight: 700;
            color: $colorTitle;

        }

    }

    .inner-wrap {
        display: flex;
        justify-content: space-between;

        .box {
            width: calc(100% / 4 - 9.2rem);
            border-radius: 2.4rem;
            background: #F6F6F6;
            display: flex;
            padding: 2rem 3rem;
            position: relative;
            inset: 0;

            .content {
                width: 55%;

                .inner-title {
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                    font-weight: 700;
                    color: #171717;
                    margin-bottom: 1.6rem;
                }

                .inner-desc {
                    color: $colorDecs;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 2.5rem;

                    span {
                        color: #FF4415;
                        font-weight: 600;
                    }
                }

            }


            .inner-image {
                width: 45%;
                position: absolute;
                top: -3rem;
                right: 2rem;
                transition-property: transform;
                transition: 0.3s ease-in-out;
                transform: translateY(0%);

                &:hover {
                    transform: translateY(-10%);

                }
            }
        }


    }
}

@media screen and (max-width:1200px) {
    .section-two {
        .inner-wrap {
            flex-wrap: wrap;
            row-gap: 5rem;
            justify-content: space-between;

            .box {
                width: calc(100% / 2 - 10rem);

                .content {
                    .inner-desc {
                        display: flex;
                        flex-direction: column;
                    }

                }

            }

        }
    }
}

@media screen and (max-width:580px) {
    .section-two {
        .inner-wrap {
            flex-wrap: wrap;
            row-gap: 5rem;
            justify-content: center;

            .box {
                width: calc(100% - 15rem);
                padding: 6rem;

                .content {
                    .inner-desc {
                        display: flex;
                        flex-direction: column;
                    }

                }

            }

        }
    }
}

/*end section two*/

/*section three*/
.section-three {
    padding: 5rem 0;

    .inner-head {
        text-align: center;

        .special {
            font-family: $fontFamily;
            color: $colorRed;
            font-size: 4rem;
            line-height: 5rem;
        }

        .inner-title {
            color: $colorTitle;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: 6.2rem;
            margin: 0 36.9rem;
            margin-bottom: 5.5rem;
        }
    }

    .inner-wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 8rem;

        .box {
            width: calc(100% / 3 - 6.6rem);
            text-align: center;

            img {
                margin-bottom: 4rem;
            }

            .inner-title {
                color: $colorTitle;
                font-size: 2.6rem;
                font-weight: 700;
                line-height: 2.4rem;
                letter-spacing: -0.13px;
                margin-bottom: 2.4rem;
            }

            .inner-desc {
                color: $colorDecs;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.8rem;
            }
        }
    }

    .inner-image {
        margin: 0 auto;
        padding-top: 11rem;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width:1200px) {
    .section-three {
        .inner-head {
            .special {
                font-family: $fontFamily;
                color: $colorRed;
                font-size: 4rem;
                line-height: 5rem;
            }

            .inner-title {
                color: $colorTitle;
                font-size: 5.2rem;
                font-weight: 700;
                line-height: 6.2rem;
                margin: 0 30rem;
                margin-bottom: 5.5rem;
            }

        }
    }

}

@media screen and (max-width:768px) {
    .section-three {
        .inner-head {
            .special {
                font-family: $fontFamily;
                color: $colorRed;
                font-size: 4rem;
                line-height: 5rem;
            }

            .inner-title {
                color: $colorTitle;
                font-size: 5.2rem;
                font-weight: 700;
                line-height: 6.2rem;
                margin: 0 20rem;
                margin-bottom: 5.5rem;
            }

        }
    }

}

/*end section three*/

/*section four*/
.section-four {
    padding: 5rem 0;

    .inner-head {
        text-align: center;

        .special {
            font-family: $fontFamily;
            color: $colorRed;
            font-size: 4rem;
            line-height: 5rem;
        }

        .inner-title {
            color: $colorTitle;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: 6.2rem;
            margin: 0 36.9rem;
            margin-bottom: 5.5rem;
        }
    }

    .inner-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4rem;

        .inner-item {
            width: calc(100% / 3 - 8rem);
            padding: 2rem 3rem;
            border-radius: 24px;
            border: 1.2px solid #EFEFEF;
            background: #FFF;

            .inner-image {
                margin: 0 auto;
                margin-bottom: 2rem;
                height: 20rem;

                img {
                    width: 100%;
                    text-align: center;
                    transition-property: transform;
                    transition: 0.3s ease-in-out;
                    object-fit: cover;


                    &:hover {
                        transform: translateY(-10%);
                    }
                }

            }

            .image {
                width: 70%;

            }

            .inner-title {
                font-size: 2rem;
                color: $colorTitle;
                font-weight: 600;
                margin: 1.2rem 0;

            }

            .inner-desc {
                color: $colorDecs;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.6rem;
                margin-bottom: 2rem;
            }

            .box {
                display: flex;
                align-items: center;

                .price {
                    margin-right: auto;
                    font-size: 2rem;
                    color: #060606;
                    font-weight: 500;
                }

                .choose {
                    display: flex;
                    align-items: center;

                    .share {

                        display: inline-block;
                        position: relative;
                        padding: 0.8rem;
                        top: -0.5rem;
                        border-radius: 8px;
                        background: #171717;
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

                    }
                }
            }
        }
    }
}

/*end section four*/