* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #384151;
  cursor: pointer;
}
.header {
  background: url(../image/248-536x354.jpeg) no-repeat;
  background-size: cover;
  position: relative;
  width: 100vh;
  width: 100%;
  display: flex;
  font-family: "Manrope", sans-serif;
  color: #384151;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
}
.header .menu .menu-two table td {
  padding: 5px 60px;
}
.header .menu .menu-one table td {
  padding: 5px 30px;
}

.header .menu .menu-one {
  width: 30%;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.header .menu .menu-two {
  width: 69%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.header .head .inner-menu ol {
  display: flex;
  list-style-type: none;
}
.header .head .inner-menu ol li {
  margin-left: 20px;
}
.header .head .inner-menu ol li a {
  font-weight: 700;
}
.header .head .inner-menu ol li:nth-child(6) a {
  color: #9fa3ac;
}

.header .head .inner-menu ol li .find i:first-child {
  margin-left: 10px;
}
.header .head .inner-menu ol li .find i:last-child {
  margin-right: 10px;
}
