/* pages ranking */
/* section one */
.section-one {
    padding: 10rem;
    padding-top: 20rem;
}

.section-one .inner-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-one .inner-wrap .inner-box {
    width: calc(100% / 3 - 3rem);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 1rem;
    background: rgb(220, 239, 244);
    background: linear-gradient(225deg, rgba(220, 239, 244, 1) 8%, rgba(123, 220, 240, 1) 76%);
}

.section-one .inner-wrap .inner-box .inner-title {
    font-size: 3rem;
    font-weight: 600;
    margin: 3rem 0;
    line-height: 3.4rem;
}

.section-one .inner-wrap .inner-box .classroom,
.section-one .inner-wrap .inner-box .code-student,
.section-one .inner-wrap .inner-box .gpa {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.section-one .inner-wrap .inner-box .ratings {
    font-size: 3rem;
    font-weight: 600;
}

.section-one .inner-wrap .inner-box .inner-image {
    height: 14rem;
}

.section-one .inner-wrap .inner-box img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    /* Giữ tỷ lệ khung hình hình ảnh */
    object-fit: contain;
    /* Đảm bảo hình ảnh phù hợp với khung mà không bị cắt */
    display: block;
    margin: 0 auto;
}

.section-one .inner-wrap .inner-box .top-one {
    width: 45%;
}

.section-one .inner-wrap .inner-box .top-two {
    width: 30%;
}

.section-one .inner-wrap .inner-box .top-three {
    width: 20%;
}



@media screen and (max-width: 768px) {
    .section-one .inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-one .inner-wrap .inner-box .image-one {
        height: 20rem;
        margin-bottom: 4rem;
    }

    .section-one .inner-wrap .inner-box img {
        aspect-ratio: 7/7;
        object-fit: cover;
    }

    .section-one .inner-wrap .inner-box {
        width: 100%;
        max-width: 400px;
        margin-bottom: 3.4rem;
    }

    .section-one .inner-wrap .inner-box:nth-child(2) {
        order: 1;
    }

    .section-one .inner-wrap .inner-box:nth-child(3) {
        order: 3;
    }

    .section-one .inner-wrap .inner-box:nth-child(1) {
        order: 2;
    }
}


/* end section one */
/* end page ranking */