header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 1200px;
    margin: 0 auto;

}


header.light-mode {
    background-color: rgba(255, 255, 255, 0.664);
    color: #000;
}

header.dark-mode {
    background-color: rgba(0, 0, 0, 0.708);
    color: #fff;
}

.some-element {
    color: orange;
}


.nav-home {
    color: rgb(36, 160, 84);
    font-weight: 700;
}